extends performlogs/layout.pug

block title
  | 実績記録表 - ペタペタシステム
block head
    style.
        table th.date {
            width: 52px;
            font-size: 11px;
        }
        table th.week {
            width: 34px;
            font-size: 11px;
        }
        table th.stat {
            width: 78px;
            font-size: 11px;
        }
        table th.work {
            width: 56px;
            font-size: 11px;
        }
        table th.pickup {
            width: 48px;
            font-size: 10px;
        }
        table th.visit {
            width: 56px;
            font-size: 11px;
        }
        table th.meal {
            width: 34px;
            font-size: 11px;
        }
        table th.outside {
            width: 62px;
            font-size: 10px;
        }
        table th.remarks {
            font-size: 11px;
        }
        table th.button {
            width: 102px;
        }
        table th.usecount {
            font-size: 11px;
        }
block content
    .row
        .col-md-2.col-xs-2
            b= today | strftime('%Y年%m月')
        .col-md-3.col-xs-3
            b 「 {{ name }} 」
            b 実績記録表
        .col-md-3.col-xs-4
            .hidden-print
                a(href="{{ url_for('worklogs.index', id=id, yymm=yymm) }}") 勤怠記録
                span &nbsp; &nbsp;
                a(href="{{ url_for('absencelogs.index', yymm=yymm) }}") 欠席時対応記録
        .col-md-4.col-xs-3
            nav(aria-label="ページャー")
                ul.pager.hidden-print
                    li: a(href="{{ url_for('performlogs.index', id=id, yymm=prev) }}") << 前月
                    li: a(href="{{ url_for('performlogs.index', id=id, yymm=this) }}") 今月
                    li: a(href="{{ url_for('performlogs.index', id=id, yymm=next) }}") 翌月 >>
    table.table.table-bordered.table-condensed.table-hover
        thead
            tr
                th.date.text-center 日付
                th.week.text-center 曜日
                th.stat.text-center 状態
                th.work.text-center 開始時刻
                th.work.text-center 終了時刻
                th.pickup.text-center 送迎(往)
                th.pickup.text-center 送迎(復)
                th.visit.text-center 訪問支援
                th.meal.text-center 食事
                th.meal.text-center 医療
                th.meal.text-center 体験
                th.outside.text-center 施設外就労
                th.outside.text-center 施設外支援
                th.remarks 備考
                th.button
        tbody
            for item in items
                tr
                    td.text-center
                        | {{ item.dd }}
                        if item.enabled == None
                            |
                        elif item.enabled
                            | ○
                        else
                            | ×
                        if item.presented == None
                            |
                        elif item.presented
                            | ○
                        else
                            | ×
                    td.text-center= item.date | weeka
                    td.text-center
                        if item.absence
                            if item.absence_add
                                | 欠席(加算)
                            else
                                | 欠席
                    td.text-center= item.work_in | do_not_show_none
                    td.text-center= item.work_out | do_not_show_none
                    td.text-center= '○' if item.pickup_in else ''
                    td.text-center= '○' if item.pickup_out else ''
                    td.text-center= item.visit | do_not_show_none
                    td.text-center= '○' if item.meal else ''
                    td.text-center= item.medical | do_not_show_none
                    td.text-center= item.experience | do_not_show_none
                    td.text-center= '○' if item.outemp else ''
                    td.text-center= '○' if item.outside else ''
                    td= item.remarks | do_not_show_none
                    td: .hidden-print: .btn-group
                        a.btn-sm.btn-default(href="{{ item.url_edit }}") 編集
                        a.btn-sm.btn-default.confirm(href="{{ item.url_delete }}") 削除
        tfoot
            tr
                td.text-center(colspan="3") 合計
                td.text-center(colspan="2")= foot.presented
                td.text-center(colspan="2")= foot.pickup
                td.text-center= foot.visit
                td.text-center= foot.meal
                td.text-center= foot.medical
                td.text-center= foot.experience
                td.text-center= foot.outemp
                td.text-center= foot.outside
                td(colspan="2")
            tr
                th(colspan="3")
                th(colspan="2").usecount.text-center 利用回数
                th(colspan="2").pickup.text-center 送迎
                th.visit.text-center 訪問支援
                th.meal.text-center 食事
                th.meal.text-center 医療
                th.meal.text-center 体験
                th.outside.text-center 施設外就労
                th.outside.text-center 施設外支援
                th(colspan="2")
    script.
        $(function(){
            $(".confirm").on('click',function(){
                if(window.confirm("データを削除してもよろしいですか？")){
                    location.href = $(this).attr('href');
                } else {
                    return false;
                }
            });
        });
