extends summarys/layout.pug

block title
  | 月次集計 - ペタペタシステム
block content
    .row
        .col-md-2.col-xs-2
            b= today | strftime('%Y年%m月')
        .col-md-6.col-xs-7
            b 月次集計表
        .col-md-4.col-xs-3
            nav(aria-label="ページャー")
                ul.pager.hidden-print
                    li: a(href="{{ url_for('summarys.index', yymm=prev) }}") << 前月
                    li: a(href="{{ url_for('summarys.index', yymm=this) }}") 今月
                    li: a(href="{{ url_for('summarys.index', yymm=next) }}") 翌月 >>
    table.table.table-hover
        thead
            tr
                th.text-center 氏名
                th.text-center 利用日数
                th.text-center 欠席加算
                th.text-center 施設外就労
                th.text-center 勤務日数
                th.text-center 勤務時間
                th.text-center 欠勤日数
                th.text-center 遅刻日数
                th.text-center 早退日数
        tbody
            for item in items
                tr
                    td.text-center= item.person.name
                    td.text-center
                        a(href="{{ url_for('performlogs.index', id=item.id, yymm=yymm) }}")
                            | {{ item.usedate | do_not_show_none }}
                    td.text-center= item.absence_add
                    td.text-center= item.outemp
                    td.text-center
                        a(href="{{ url_for('worklogs.index', id=item.id, yymm=yymm) }}")
                            | {{ item.presented | do_not_show_none}}
                    td.text-center= item.value | do_not_show_none
                    td.text-center= item.absence | do_not_show_none
                    td.text-center= item.late | do_not_show_none
                    td.text-center= item.leave | do_not_show_none
        tfoot
            tr
                td.text-center 合計
                td.text-center= foot.usedate
                td.text-center= foot.absence_add
                td.text-center= foot.outemp
                td.text-center= foot.presented
                td.text-center= foot.value
                td.text-center= foot.absence
                td.text-center= foot.late
                td.text-center= foot.leave
            tr 
                th
                th.text-center 利用日数
                th.text-center 欠席加算
                th.text-center 施設外就労
                th.text-center 勤務日数
                th.text-center 勤務時間
                th.text-center 欠勤日数
                th.text-center 遅刻日数
                th.text-center 早退日数
