extends recipients/layout.pug

block title
  | 受給者証一覧 - ペタペタシステム
block content
    table.table.table-hover
        thead
            tr
                th
                th 名前
                th 受給者証番号
                th 利用開始日
                th 支給期間
                th 適用期間
                th:.hidden-print 作成日
                th:.hidden-print 更新日
                th
        tbody
            for item in items
                tr
                    td= '○' if item.person.enabled else ''
                    td= item.person.display_or_name
                    td= item.number if item.number else ''
                    td= item.usestart if item.usestart else ''
                    if item.is_supply_over()
                        td(bgcolor="#f8f8f8")= item.supply_out if item.supply_out else ''
                    else
                        td= item.supply_out if item.supply_out else ''
                    if item.is_apply_over()
                        td(bgcolor="#f8f8f8")= item.apply_out if item.apply_out else ''
                    else
                        td= item.apply_out if item.apply_out else ''
                    td: .hidden-print= item.create_at | strftime('%Y/%m/%d %H:%M')
                    td: .hidden-print= item.update_at | strftime('%Y/%m/%d %H:%M') 
                    td: .text-right: .hidden-print: .btn-group
                        a.btn-sm.btn-default(href="{{ url_for('recipients.edit', id=item.person_id) }}") 編集
