extends absencelogs/layout.pug

block title
  | 欠席時対応加算記録 - ペタペタシステム
block head
    style.
        table th.date {
            width: 92px
        }
        table th.name {
            width: 128px
        }
        table th.reason {
            width: 128px
        }
        table th.button {
            width: 62px
        }
block content
    .row
        .col-md-2.col-xs-2
            b= today | strftime('%Y年%m月')
        .col-md-3.col-xs-3
            b 欠席時対応加算記録
        .col-md-3.col-xs-4
        .col-md-4.col-xs-3
            nav(aria-label="ページャー")
                ul.pager.hidden-print
                    li: a(href="{{ url_for('absencelogs.index', yymm=prev) }}") << 前月
                    li: a(href="{{ url_for('absencelogs.index', yymm=this) }}") 今月
                    li: a(href="{{ url_for('absencelogs.index', yymm=next) }}") 翌月 >>
    table.table.table-bordered.table-hover
        thead
            tr
                th.date 日付
                th.name 欠席者
                th.date 連絡日
                th.name 対応職員
                th.reason 欠席理由
                th 相談援助
                th.button
        tbody
            for item in items
                tr
                    td= item.date
                    td= item.person.display_or_name
                    td= item.contact | do_not_show_none
                    td= item.staff.name if item.staff else ''
                    td= item.reason | do_not_show_none
                    td= item.remarks | do_not_show_none
                    td: .hidden-print: .text-right
                        a.btn-sm.btn-default(href="{{ url_for('absencelogs.edit', id=item.person_id, yymm=item.yymm, dd=item.dd) }}") 編集
