include _form.pug
extends worklogs/layout.pug

block title
    | 勤怠編集
block content
    form(method="POST")
        .form-group
            label 名前
            .form-control= item.person.display_or_name
        .form-group
            label 日付
            .form-control= item.date
        if not item.person.staff
            .form-group
                label 開始時間
                .form-control.disabled= item.work_in | do_not_show_none
            .form-group
                label 終了時間
                .form-control.disabled= item.work_out | do_not_show_none
        +generate_fields(form)
        .btn-group
            input.btn.btn-default(type="submit" value="保存")
            a.btn.btn-default(href="{{ url_for('worklogs.index', id=id, yymm=yymm) }}") キャンセル