extends worklogs/layout.pug

block title
  | 出勤簿 - ペタペタシステム
block content
    .row
        .col-xs-2
            b= today | strftime('%Y年%m月')
        .col-xs-3
            b 「 {{ name }} 」
            b 出勤簿
        .col-xs-4
            .hidden-print
                if not staff
                    a(href="{{ url_for('performlogs.index', id=id, yymm=yymm) }}") 実績記録
        .col-xs-3
            nav(aria-label="ページャー")
                ul.pager.hidden-print
                    li: a(href="{{ url_for('worklogs.index', id=id, yymm=prev) }}") << 前月
                    li: a(href="{{ url_for('worklogs.index', id=id, yymm=this) }}") 今月
                    li: a(href="{{ url_for('worklogs.index', id=id, yymm=next) }}") 翌月 >>
    table.table.table-bordered.table-condensed.table-hover
        thead
            tr
                th.text-center 日付
                th.text-center 曜日
                th.text-center 開始時刻
                th.text-center 終了時刻
                th.text-center 勤務時間
                th.text-center 休憩時間
                th.text-center 残業時間
                th.text-center 欠勤
                th.text-center 遅刻
                th.text-center 早退
                th 備考
                th
        tbody
            for item in items
                tr
                    td.text-right
                        | {{ item.dd }}
                        if item.presented == None
                            |
                        elif item.presented
                            | ○
                        else
                            | ×
                    td.text-center= item.date | weeka
                    td.text-center= item.work_in | do_not_show_none
                    td.text-center= item.work_out | do_not_show_none
                    td.text-center= item.value | do_not_show_none
                    td.text-center= item.break_t | do_not_show_none
                    td.text-center= item.over_t | do_not_show_none
                    td.text-center= '○' if item.absence else ''
                    td.text-center= '○' if item.late else ''
                    td.text-center= '○' if item.leave else ''
                    td= item.remarks | do_not_show_none
                    td: .hidden-print: .text-right: .hidden-print: .btn-group
                        a.btn-sm.btn-default(href="{{ item.url_edit }}") 編集
                        a.btn-sm.btn-default.confirm(href="{{ item.url_delete }}") 削除
        tfoot
            tr
                td.text-center(colspan="2") 合計
                td.text-center(colspan="2")= foot.presented
                td.text-center= foot.value
                td.text-center= foot.break_t
                td.text-center= foot.over_t
                td.text-center= foot.absence
                td.text-center= foot.late
                td.text-center= foot.leave
                td(colspan="2")
            tr
                th(colspan="2")
                th(colspan="2").text-center 出勤日数
                th.text-center 勤務時間
                th.text-center 休憩時間
                th.text-center 残業時間
                th.text-center 欠勤
                th.text-center 遅刻
                th.text-center 早退
                th(colspan="2")
    script.
        $(function(){
            $(".confirm").on('click',function(){
                if(window.confirm("データを削除してもよろしいですか？")){
                    location.href = $(this).attr('href');
                } else {
                    return false;
                }
            });
        });
